@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
   
}


:root{
    --titlecolor:#002D74

}
.Intelimci-Title{
    max-width: 757px;
    margin-top: 40px;
    margin-left: 40px;
   
}

.intelimci-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: var(--titlecolor);
 
}

.TelimciImg{
    border-radius: 20px;
}
.Intelimci-Text{
    max-width: 1002px;
    margin:auto; 
    text-align: center;
    line-height: 1;
    margin-top: 60px;
}
.intelimci-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: var(--titlecolor);
}


#TelimciDaxili{
    margin: auto;
    display: flex;
    max-width: 1156px;
    margin-top: 80px;
}

@media (min-width: 200px) and (max-width: 600px) {
    #TelimciDaxili{
        margin: auto;
        display: flex;
        flex-direction: column;
        max-width: 1156px;
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .Telimciimg{
        max-width: 100%;
        margin: auto;
    }
    .intelimci-title{
        text-align: center;
    }

    .Intelimci-Text{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .intelimci-text{
        text-align: justify;
    }
    

}

@media  (min-width: 600px) and (max-width: 768px) {
    #TelimciDaxili{
        margin: auto;
        display: flex;
        max-width: 1156px;
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 20px;
    }


}