.error-title{
    font-weight: 700;
    font-size: 36px;
    color: #002D74;
    text-align: center;
    margin-top: 70px;

}

.Error404{
    object-fit: cover;
    margin: auto;
    display: block;
    margin-top: 130px;
}
.errortext{
    font-weight: 400;
    font-size: 16px;
    color: #002D74;
    text-align: center;
    margin-top: 40px;
}
.errorbtn{
    display: block;
    margin: auto;
    border-radius: 60px;
    padding: 12px 31px 12px 31px;
    gap: 12px;
    background-color: #002D74;
    color: #ffffff;
    border: none;
    position: relative;
    margin-top: 120px;
}