@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    
}



.error-title{
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #002D74;
    text-align: center;
    margin-top: 70px;

}
.ArrowError{
    margin-left: 10px;
    display: inline-block;
}

.Error404{
    max-width: 100%;
    object-fit: cover;
    margin: auto;
    display: block;
    margin-top: 80px;
}
.errortext{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #002D74;
    text-align: center;
    margin-top: 40px;
}
.errorbtn{
    
    display: block;
    margin: auto;
    border-radius: 60px;
    padding: 12px 31px 12px 31px;
    gap: 12px;
    background-color: #002D74;
    color: #ffffff;
    border: none;
    position: relative;
    margin-top: 20px;
    text-decoration: none;
}

@media (min-width: 200px) and (max-width: 600px) {
    .Error404{
        max-width: 100%;
        object-fit: cover;
        margin: auto;
        display: block;
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 20px;
    }
    

}
