
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.Menu-dropdown-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: scaleY(0.9); /* Küçük bir ölçek efekti */
    transform-origin: top;
    transition: max-height 1.5s ease-in-out, opacity 1.4s ease-in-out, transform 1.4s ease-in-out;  }
  
  /* Aktif olduğunda animasyonlu görünüm */
  .Menu-dropdown-content.active {
    max-height: 500px; /* İçerik uzunluğunuza göre ayarlayın */
    opacity: 1;
    transform: scaleY(1);
    margin-left: 10px;
  }

  .dropdown-arrow {
    display: inline-block;
    margin-left: 8px; /* Yan boşluk */
    margin-top: 4px; /* Yukarıdan aşağı kaydırma */
    transition: transform 0.3s ease-in-out;
  }
  
  .dropdown-arrow svg{
    display: inline-block;

  }
  .dropdown-arrow.rotate {
    transform: rotate(180deg); /* Yukarı bakan ok */
  }
.TopHeader{
    max-width: 1392px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 17px;
    justify-content: space-between;
}

.topheader-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    /* padding: 20px; */
   
}

.SearchIcon{
    box-sizing: border-box;
    width: 25.5px;
    height: 25.5px;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.TopHeader select{
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    appearance: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.07px;
}
.TopHeader option{
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}


.vl{
    border-left: 1px solid #009ADE;
    height: 25px;
    padding-left: 17px;
}
.me-4{
    margin-right: 16px;
}

.header-search{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    height: 0;
    transition: all 0.4s linear;
    cursor: pointer;
}

.header-search.active{
    opacity: 1;
    pointer-events: auto;
    height: 66px;
    cursor: pointer;
}

.hamburger-menu {
    cursor: pointer;
    margin-left: 20px;
}


.menu-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(8 34 76);
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.menu-content.active {
    transform: translateX(0);
}


.menu-content ul {
    position: fixed;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 100px;
    left: 45px;
}

.menu-content li {
    padding: 5px 0;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s ease forwards;
}


.menu-content li:nth-child(1) { animation-delay: 0.1s; }
.menu-content li:nth-child(2) { animation-delay: 0.2s; }
.menu-content li:nth-child(3) { animation-delay: 0.3s; }
.menu-content li:nth-child(4) { animation-delay: 0.4s; }
.menu-content li:nth-child(5) { animation-delay: 0.5s; }

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-content li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}


.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.TopHeader{
    max-width: 1392px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 17px;
    justify-content: space-between;
}

.topheader-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
}

.SearchIcon{
    box-sizing: border-box;
    width: 25.5px;
    height: 25.5px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 1.2em;
    cursor: pointer;
}

.header-search {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    height: 0;
    transition: all 0.4s linear;
    
}

.header-search.active {
    opacity: 1;
    pointer-events: auto;
    height: 50px; 
    cursor: pointer;
}

.header-search input {
    width: 100%;
    padding: 10px 10px 10px 60px;
    font-size: 16px;
    height: 60px;
    border: 1px solid #ccc;
    background: url(../../assets/search-lg.svg);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: 20px center, calc(100% - 20px) center; /* Soldan və sağdan 20px */

}
.dropdown_topheaderList{
    background: url(../../assets/search-lg.svg);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: 20px center, calc(100% - 20px) center; /* Soldan və sağdan 20px */
}
.header-search input:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
.close-icon {
    position: absolute;
    top: 59%;
    right: 40px; /* Sağ tərəfdən məsafə */
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url(../../assets/x-close.svg) no-repeat center center;
    background-size: contain;
    cursor: pointer;
    transition: all 0.4s linear;

}


.close-search-icon {
    position: absolute;
    top: 60%;
    right: -150px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #000;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    margin-left: 20px;
}

.menu-content.active {
    transform: translateX(0);
}

.menu-content li {
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s ease forwards;
}

.menu-content li:nth-child(1) { animation-delay: 0.1s; }
.menu-content li:nth-child(2) { animation-delay: 0.2s; }

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-content li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    .TopHeader{
        max-width: 1392px;
        display: flex;
        align-items: center;
        margin: auto;
        padding-top: 10px;
    }

    .topheader-text {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 10px;
        color: #FFFFFF;
        margin: 0;
        padding: 10px 0px 0px 20px ;
       
    }
    .me-4{
        margin-right: 0px;
    }

    .header-search{
        /* position: fixed; */
        top: 0;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        height: 0;
        transition: all 0.4s linear;
        cursor: pointer;
    }
    .close-search-icon {
        position: absolute;
        top: 60%;
        right: -150px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 20px;
        color: #000; 
    }

}
@media (min-width: 200px) and (max-width: 768px) {
    .TopHeader{
        max-width: 1392px;
        display: flex;
        align-items: center;
        margin: auto;
        padding-top: 10px;
    }

    .topheader-text {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 10px;
        color: #FFFFFF;
        margin: 0;
        padding: 10px 0px 0px 20px ;
       
    }
    .irtmac{
        display:block;
    }

    .me-4{
        margin-right: 16px !important;
    }

    .hamburger-menu{
        display: block;
        margin-left: 0;
        margin-right: 25px;
    }

    .header-search{
        top: 0;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        height: 0;
        transition: all 0.4s linear;
        cursor: pointer;
    }
    .close-search-icon {
        position: absolute;
        top: 60%;
        right: -150px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 20px;
        color: #000;
    }
    .TopHeader select{
        margin-right: 16px;
    }
}

@media (min-width: 769px) and (max-width: 1200px){
    .TopHeader select{
        margin-right: 16px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
 
    .hamburger-menu{
        display: block;
        margin-left: 0;
        margin-right: 25px;
    }
    .close-search-icon {
        position: absolute;
        top: 60%;
        right: -460px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 20px;
        color: #000;
    } 
}
@media (min-width: 992px) and (max-width: 1200px) {
/*     
    .TopHeader {
       align-items: center;
       padding: 10px 20px;
     } */
     
     .irtmac {
        margin: 10px auto;
    }
    .hamburger-menu{
        display: block;
        margin-left: 0;
        margin-right: 25px;
    }

    .close-search-icon {
        position: absolute;
        top: 60%;
        right: -660px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 20px;
        color: #000;
    }  
}

@media (min-width: 1200px) and (max-width: 3200px){
  
         
    .irtmac{
        margin: 10px auto;
    }
    .hamburger-menu {
        margin-top: 10px;
    }

      .close-search-icon {
        position: absolute;
        top: 60%;
        right: -677px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 20px;
        color: #000;
    }  

    .search-icon-lop{
        position: absolute;
        top: 63%;
        left: -690px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 25px;
        color: #5B748D;
    }


}

@media (min-width: 1200px) and (max-width: 3200px){

}
