@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.container{
    font-family: "Montserrat", sans-serif;
}

#home{
    max-width: 1392px;
    margin: auto;
}
#Rec_img {
    object-fit: cover;
    width: 100%;
    height: 550px;
    border-radius: 0 0 30px 30px;
}
.text-h{
    position: absolute;
    top: 364px;
    width: 519px;
    color: #ffffff;
    right: 150px;
    font-family: "Montserrat", sans-serif;
    font-size: 52px;
    line-height: 65px;
    text-align: right;
    z-index: 1;
}

#Homelogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 79px;
    margin-bottom: 79px;
    gap: 15px;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 160px;
    border-radius: 20px;
    background-color: #F7F7FA;
}
.logo .LogoIpsum3{
    mix-blend-mode: darken;
}
.group2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 503px;
    right: 110px;
    width: 92px;
    height: 92px;
    border-radius: 90px;
    background-color: #F32735;
    z-index: 5;
}

#HomeGroup{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 79px;
}

.HomeBox{
    max-width:448px;
    
}


.title{
    max-width: 448px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 43.88px;
    color: #002D74;
}
.title1{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    color: #002D74;
    max-width: 389px;
}

.box{
    max-width: 550px;
    height: 360px;
    border-radius: 30px;
    background-color: #009ADE;
    position: relative;
    /* box-shadow: 0 0 80px 0 #009ade; */
    box-shadow: 0 0 80px 0 rgba(0, 154, 222, 0.5);

}

.inbox{
    max-width: 142px;
    height: 122px;
    background-color: transparent;
    color: #ffffff;
    margin: auto;
    margin-left: 75px;
}

.boxtext{
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 78.02px;
}

.boxtext1{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.05px;
}
.line{
    border-left: 1px solid #002D74;
    height: 300px;
    position: absolute;
    left: 280px;
    top: 30px;
    width: 0;
    opacity: 20%;
}

.line2{
    position: absolute;
    width: 440px;
    background: #002D74;
    top: 50%;
    left: 8%;
    opacity: 20%;


}

.banner{
    max-width: 1392px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 307px;
    background-color: #002856;
    border-radius: 30px;

}

.banright{
    background-image: url(../../assets/Group3.svg);
    background-position-x: right;
    background-repeat: no-repeat;
}

.HRline{
    border-left: 1px solid #0071CE;
    height: 241px;
    margin-left: 80px;
}
.Group4{
    margin-left: 118px;
    margin-top: 41px;
    margin-bottom: 41px;
}
#BanText{
    margin-left: 80px;
    max-width: 814px;
}
.BanTitle{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 43.88px;
    color: #FFFFFF;
}
.BanTitle2{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    color: #ffffff;
    max-width: 814px;
    margin-bottom: 30px;
}
.Ban-btn{
    display: flex;
    align-items: center;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: none;
    color: #ffffff;
    border-radius: 60px;
    background: #0071CE;
    gap: 12px;
    padding: 12px 31px 12px 31px;
    text-align: left;
    
}


@media  (min-width: 200px) and (max-width: 768px) {
    .group2{

        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 514px;
        right: 55px;
        width: 70px;
        height: 70px;
        border-radius: 90px;
        background-color: #F32735;
        z-index: 5;
    }

    .logo{
        margin-bottom: 20px;
    }
    .HomeGroup{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 130px !important;
        flex-direction: column;
    }
    .title{
        font-size: 20px;
        line-height: 27.88px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: justify;
        
    }

    .title1{
        font-size: 16px;
        line-height: 20.07px;
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .text-h{

        position: absolute;
        top: 164px !important;
        width: 314px !important;
        color: #ffffff;
        right: 50px !important;
        font-family: "Montserrat", sans-serif;
        font-size: 20px !important;
        line-height: 20px !important;
        text-align: right;
        z-index: 1;
        font-size: 1.5rem;
    }
    .box{
        width: 350px;
    }
    .boxtext{
        font-size: 32px;
    }

    .line{
        height: 230px;
        left: 175px;
        top: 15px;
    }
    .line2{
        width: 284px;
        top: 50%;
        left: 5;
    }

    .banner{
        flex-direction: column;
        height: 820px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .banright{
        background-image: url(../../assets/Group3rotated.svg);
        background-position: bottom right;
        background-repeat: no-repeat;
      
    }
    .Group4 {
        margin-left: 15px;
        margin-top: 41px;
        margin-bottom: 260px;
    }

    .HRline {
        border-top: 1px solid #0071CE;
        height: 0;
        margin-left: 12px;
        width: 241px;
        margin-top: -219px;
    }

    .Bantext{
        margin-left: 35px !important;
        margin-right: 35px;
        margin-top: 80px;
    }

    .BanTitle{
        max-width: 814px;
        font-size: 27px;
        line-height: 30.88px;
        text-align: justify;
        
    }
    .BanTitle2{
        max-width: 814px;
        font-size: 14px;
        line-height: 21.07px;
        text-align: justify;
        margin-bottom: 30px;
    }
    .row {
        --bs-gutter-x: 0rem;
  
    }
    .inbox{
        padding-left: 36px;
        background-color: none;
        margin-left: 0;
    }

    .Group3{
        margin-left: 222px;
        margin-top: 37px;
        rotate: 90deg;
    }
 
}

@media  (min-width: 769px) and (max-width: 992px) {
    .banner{
        flex-direction: column;
        height: 820px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .banright{
        background-image: url(../../assets/Group3rotated.svg);
        background-position: bottom right;
        background-repeat: no-repeat;
      
    }
    .Group4 {
        margin-left: 15px;
        margin-top: 41px;
        margin-bottom: 260px;
    }

    .HRline {
        border-top: 1px solid #0071CE;
        height: 0;
        margin-left: 12px;
        width: 241px;
        margin-top: -219px;
    }

    .Bantext{
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 80px;
    }

    .BanTitle{
        max-width: 814px;
        font-size: 27px;
        line-height: 30.88px;
        text-align: justify;
        
    }
    .BanTitle2{
        max-width: 814px;
        line-height: 21.07px;
        text-align: justify;
    }
    .Ban-btn{
        margin-bottom: 24px;
    }
}

@media  (min-width: 769px) and (max-width: 992px){
    .text-h {
        top: 160px !important;
    }
}
