.container{
    max-width: 1392px;
    padding-right: 0; 
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    margin: inherit !important;
}

#home{
    position: relative;
}


#Rec_img{
    width: 1361px;
    height: 550px;
    margin-left: 39px;
    margin-bottom: 97px;
  }

.circle{
    top: 142px;
    width: 232px;
    height: 349px;
    border-radius: 250px 0 0 250px;
    position: absolute;
    background-color: #01344b54;
    position: absolute;
    z-index: 0;
    right: -7px;
}

#vector_1{
    position: absolute;
    top: 0px;
    left: 500px;
}

#vector_2{
    position: absolute;
    top: 0px;
    left: 700px;
}

#vector_3{
    position: absolute;
    top: 0px;
    left: 700px;
}
#image{
    position: absolute;
    top: 52px;
    left: 200px;
    z-index: 2;
}

#vector_4{
    position: absolute;
    top: 170px;
    left: 550px;
    z-index: 1;
}

#vector_4_1{
    position: absolute;
    top: 181px;
    left: 351px;
    z-index: 1;
}

#vector_4_2{
    position: absolute;
    top: 395px;
    left: 500px;
    z-index: 1;
}

#vector_5{
    position: absolute;
    top: 350px;
    left: 715px;
    z-index: 1;
    rotate: 180deg;
}


.text-h{
    position: absolute;
    top: 200px;
    width: 385px;
    color: #ffffff;
    right: 150px;
    font-size: 52px;
    line-height: 65px;
    text-align: right;
    z-index: 1;
}



.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 160px;
    border-radius: 20px;
    background-color: #F7F7FA;
}

.group2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 503px;
    right: 110px;
    width: 92px;
    height: 92px;
    border-radius: 90px;
    background-color: #F32735;
   

}

.title{
    position: absolute;
    left: 159px;
    width: 448px;
    height: 290px;
    top: 980px;
}
.title1{
    font-weight: 500;
    font-size: 38px;
    line-height: 43.88px;
    color: #002D74;
}
.title2{
    width: 389px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    color: #002D74;
}

.box{
    width: 550px;
    height: 360px;
    border-radius: 30px;
    background-color: #009ADE;
    position: absolute;
    right: 90px;
}

.inbox{
    width: 142px;
    height: 122px;
    background-color: transparent;
    color: #ffffff;
    margin: auto;
    margin-left: 100px;
}

.boxtext{
    font-family: 64px;
    font-weight: 700;
    line-height: 78.02px;
}

.boxtext1{
    font-family: 16px;
    font-weight: 500;
    line-height: 19.05px;
}
.line{
    border-left: 1px solid #002D74;
    height: 300px;
    position: absolute;
    left: 275px;
    top: 30px;
    width: 0;
    opacity: 20%;
}

.line2{
    position: absolute;
    width: 440px;
    background: #002D74;
    top: 50%;
    left: 8%;
    opacity: 20%;


}

.banner{
    position: absolute;
    width: 1350px;
    height: 307px;
    background-color: #002856;
    top: 1300px;
    border-radius: 30px;
    left: 46px;
}
.HRline{
    border-left: 1px solid #0071CE;
    height: 241px;
    position: absolute;
    left: 385px;
    top: 36px;
    width: 0
}
.BanTitle{
    position: absolute;
    top: 50px;
    left: 450px;
    font-weight: 500;
    font-size: 36px;
    line-height: 43.88px;
    color: #FFFFFF;
}
.BanTitle2{
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    color: #ffffff;
    top: 120px;
    left: 450px;
    width: 778px;
}
.Ban-btn{
    position: absolute;
    top: 220px;
    left: 455px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 137px;
    height: 52px;
    border: none;
    color: #ffffff;
    border-radius: 60px;
    background: #0071CE;
    gap: 12px;
    padding: 12px 31px 12px 31px;
    text-align: left;
    
}


