@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}



.container{
    font-family: "Montserrat", sans-serif;
    
}

#home{
    /* display: none; */
    max-width: 1392px;
    margin: auto;
}


#Rec_img {
    width: 100%;
    height: 550px;

  }

.circle{
    top: 289px;
    width: 232px;
    height: 349px;
    border-radius: 250px 0 0 250px;
    position: absolute;
    background-color: #01344b54;
    position: absolute;
    z-index: 0;
    right: 24px;
}

#vector_1{
    position: absolute;
    top: 184px;
    left: 500px;
}

#vector_2{
    position: absolute;
    top: 0px;
    left: 700px;
}

#vector_3{
    position: absolute;
    top: 184px;
    left: 700px;
}
#image{
    position: absolute;
    top: 236px;
    left: 200px;
    z-index: 2;
}

#vector_4{
    position: absolute;
    top: 365px;
    left: 550px;
    z-index: 1;
}

#vector_4_1{
    position: absolute;
    top: 360px;
    left: 351px;
    z-index: 1;
}

#vector_4_2{
    position: absolute;
    top: 579px;
    left: 500px;
    z-index: 1;
}

#vector_5{
    position: absolute;
    top: 534px;
    left: 715px;
    z-index: 1;
    rotate: 180deg;
}


.text-h{
    position: absolute;
    top: 364px;
    width: 519px;
    color: #ffffff;
    right: 150px;
    font-family: "Montserrat", sans-serif;
    font-size: 52px;
    line-height: 65px;
    text-align: right;
    z-index: 1;
}

#Homelogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 79px;
    margin-bottom: 79px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 160px;
    border-radius: 20px;
    background-color: #F7F7FA;
}

.group2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 686px;
    right: 110px;
    width: 92px;
    height: 92px;
    border-radius: 90px;
    background-color: #F32735;
    z-index: 5;
   

}

#HomeGroup{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 79px;
}

.HomeBox{
    max-width:448px;
    
}


.title{
    max-width: 448px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 43.88px;
    color: #002D74;
}
.title1{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    color: #002D74;
    max-width: 389px;
}

.box{
    max-width: 550px;
    height: 360px;
    border-radius: 30px;
    background-color: #009ADE;
    position: relative;
}

.inbox{
    max-width: 142px;
    height: 122px;
    background-color: transparent;
    color: #ffffff;
    margin: auto;
    margin-left: 75px;
}

.boxtext{
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 78.02px;
}

.boxtext1{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.05px;
}
.line{
    border-left: 1px solid #002D74;
    height: 300px;
    position: absolute;
    left: 280px;
    top: 30px;
    width: 0;
    opacity: 20%;
}

.line2{
    position: absolute;
    width: 440px;
    background: #002D74;
    top: 50%;
    left: 8%;
    opacity: 20%;


}

.banner{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 307px;
    background-color: #002856;
    border-radius: 30px;

}
.HRline{
    border-left: 1px solid #0071CE;
    height: 241px;
    margin-left: 80px;
}
.Group4{
    margin-left: 118px;
    margin-top: 41px;
    margin-bottom: 41px;
}
#BanText{
    margin-left: 80px;
    max-width: 814px;
}
.BanTitle{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 43.88px;
    color: #FFFFFF;
}
.BanTitle2{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    color: #ffffff;
    max-width: 814px;
    margin-bottom: 30px;
}
.Ban-btn{
    display: flex;
    align-items: center;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: none;
    color: #ffffff;
    border-radius: 60px;
    background: #0071CE;
    gap: 12px;
    padding: 12px 31px 12px 31px;
    text-align: left;
    
}


