@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    
}


:root{
    --titlecolor:#002D74

}
.Contact-Title{
    max-width: 482px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: var(--titlecolor);
    text-align: center;
    margin-top: 70px;
    margin-bottom: 24px;
}

.contact-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #009ADE;
    text-align: center;
  
}
.Contactregister{
    max-width: 1156px;
    height: 350px;
    background-color: #F0F6F9;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
}
.ContactForm{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 40px;
   
}
.ContactForm input{
    width: 448px;
    height: 58px;
    border: none;
    border-radius: 70px;
    padding-left: 40px;


}

.form-group{
    width: 490px;
    margin-top: 40px;
}


#name::placeholder{
    color: #5B748D;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    /* padding-left: 40px; */
    
}
#text::placeholder{
    color: #5B748D;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    /* padding-left: 40px; */
}
#email::placeholder{
    color: #5B748D;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    /* padding-left: 40px; */
}
#textarea::placeholder{
    color: #5B748D;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    /* padding-left: 40px; */
}
#textarea{
    /* position: absolute; */
    top: 2px;
    left:  490px;
    width: 448px;
    height: 194px;
    border: none;
    resize: none;
    border-radius: 20px;
    padding-left: 25px;
    padding-top: 15px;
}

.ContactBtn{
    width: 153px;
    height: 48px;
    border-radius: 60px;
    Padding: 12px 31px 12px 31px;
    gap: 12px;
    background-color: #002D74;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: none;
    margin-top: 24px;
    /* margin-left: 295px; */
}
.ContactBtn img{
    display: inline-block;
}

.Adress{
    display: flex;
    justify-content: space-around;
    max-width: 930px;
    height: 218px;
    margin: auto;
    background-color: #009ADE;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 0 80px 0 rgba(0, 154, 222, 0.5);
}
.contactimg{
    margin-bottom: 10px;
}


.adress-text{
    width: 212px;
    margin-top: 35px;
   
}
.adress-text1{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}

.adress-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}

.WorkTime{
    width: 1156px;
    height: 62px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    border-radius: 90px;
    top: 506px;
    left: 123px;
}

.WorkTimeText{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    color: #002D74;
    text-align: center;
    margin-top: 15px;
}



@media (min-width: 200px) and (max-width: 768px) {

    .Adress{
        max-width: 319px;
        margin: auto !important;
        flex-direction: column;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .adress-text1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        margin-top: 10px;
    }
    .adress-text {
        width: 100%;
        text-align: center;
        margin-left: 0 !important;
        margin-top: 0;
        
    }

    .adress-text :nth-child(3){
      
        margin-bottom: 35px;
    }

    .AdressText{
        margin-top: 35px;
    }
  
    .Adress img{
        display: inline-block;
        width: 45px;
        height: 45px;
    }
    .adress-title {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
    }


    

}

