@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.Trainingcard{
    display: flex;
    flex-direction: column;
    max-width: 448px;
    height: 268px;
    border-radius: 20px;
    border: 0 0 1px 0;
    background-color:#F0F6F9;
    margin-top: 20px;
}

.Trainingcard:hover{
background-color: #009ADE;

}
.Trainingcard:hover h2,
.Trainingcard:hover p,
.Traningtext a:hover {
    color: #ffffff; /* Beyaz renk */
}



.Trainingcard h2 {
    max-width: 367px;
    height: 58px;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #003B71;
    padding-top: 35px;
    /* padding-bottom: 10px; */
    margin-bottom: 55px;
}


.Trainingcard p {
    max-width: 367px;
    height: 42px;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #003B71;
    text-align: left;
    
}

.Traninghref{
    position: relative;
    max-width: 81px;
    height: 24px;
    margin-top: 50px;
    margin-left: 60px;
    cursor: pointer;

}
.Traningtext a{

    margin-top: 17px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #5B748D;
    text-decoration: none;
    font-size: 16px;

}



.Continue{
    position: absolute;
    left: 50px;
    /* top: 2px; */
    max-width: 40px;
    height: 40px;
    background-color: #009ADE; /* Soluk yeşil */
    /* color: #5B748D !important; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 20%;
    text-decoration: none;
    border-radius: 50%; /* Daire şekli */
    transition: all 0.4s ease; /* Tüm değişiklikler için geçiş süresi */
}
.Trainingtext2{
    position: absolute;
    top: 7px;
    padding: 0 5px 0 5px;
    left: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.Continue:hover{
    max-width: 134px;
    left: 50px;
    border-radius: 50px; /* Tam buton şekline geçiş */
    background-color: #002D74; /* Yeşil */
    justify-content: space-between; /* Metin ve ok simgesini ayırır */
    opacity: 100%;
    color: #ffffff;
}

.Continue:hover.Trainingtext2 {
    /* left: 29px; */
    color: #ffffff;
}

.Continue:hover #traniningicon{
    content: url(../../assets/arrow-right.svg);
    margin-top: 7.5px !important;
}



