@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root{
    --titlecolor:#002D74

}
.Media-Title{
    max-width: 920px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media-title{
    font-weight: 700;
    font-size: 36px;
    color: var(--titlecolor);
    text-align: center;
    margin-top: 70px;
    margin-bottom: 24px;
    font-family: "Montserrat", sans-serif;

}

.media-text{
    /* width: 782; */
    font-weight: 400;
    font-size: 24px;
    color: var(--titlecolor);
    text-align: center;
    font-family: "Montserrat", sans-serif;
  
}

.MediaCard{
    max-width: 430px;
    height: 440px;
    border-radius: 20px;
    border: 0 0 1px 0;
    background-color:#F0F6F9;
    margin-top: 20px;
    margin-right: 20px;
}
.Media1,.Media2,.Media3{
    width: 430px;
}
.MediaCard h2 {
    max-width: 367px;
    height: 58px;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #003B71;
    padding-top: 35px;
    /* padding-bottom: 10px; */
    margin-bottom: 55px;
    text-align: center;
}
#Media{
    margin-top: 40px;
    display: flex;
    align-items: center;
    max-width: 1392px;
    justify-content: center;
    flex-wrap: wrap;
}

.MediaCard p {
    max-width: 380px;
    height: 42px;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #003B71;
    text-align: left;
    
}

.Medtext{
    font-size: 16px;
    color: #5B748D;
}

.Mediatext{
    position: relative;
    max-width: 368px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 45px;
}





.span{
    /* display: block; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #5B748D;
    text-decoration: none;
    font-size: 16px;

}

.Mediatext a{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #5B748D;
    text-decoration: none;
    font-size: 16px;

}


.mediabtn{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 134px;
    height: 40px;
    background-color: #DAEAF2;
    border: none;
    color: #5B74BD;
    border-radius: 70px;
}

.mbtn{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 212px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #009ADE;
    /* color: #ffffff; */
    border-radius: 60px; 
    margin-left: 20px;
    margin-top: 20px;
    line-height: 24px;
}

.mbtn:hover{
   
    background-color: #009ADE;
    color: #ffffff;
    transition: all 0.7s ease-in-out
    
}



.mediacta {
    position: relative;
    margin: auto;
    padding: 9px 19px;
    transition: all 0.2s ease;
    top: -1px;
    left: 5px;
}
  .mediacta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    opacity: 20%;
    background: #009ADE;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
  }
  .mediacta span {
      position: relative;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      /* color: #1a2d62; */
      font-weight: 400;
    color: #5B748D;
      font-weight: 500;
      /* text-transform: uppercase; */
  }
  .mediacta img {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #9ed815;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .mediacta:hover:before {
    width: 100%;
    background: #002D74;
    opacity: 1;
  }
  .mediacta:hover img {
    transform: translateX(0);
  }
  .mediacta:active {
    transform: scale(0.96);
  }
  .mediacta:hover span{color:#fff;}
  .mediacta:hover img{
    content: url(../../assets/arrow-right.svg);
    position: relative;
    top: 0;
    /* margin-left: 10px; */
    /* color: red !important; */
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }


