@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root{
    --titlecolor:#002D74

}
.Media-Title{
    width: 920px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media-title{
    font-weight: 700;
    font-size: 36px;
    color: var(--titlecolor);
    text-align: center;
    margin-top: 70px;
    font-family: "Montserrat", sans-serif;

}

.media-text{
    /* width: 782; */
    font-weight: 400;
    font-size: 24px;
    color: var(--titlecolor);
    text-align: center;
    font-family: "Montserrat", sans-serif;
  
}

.MediaCard{
    width: 430px;
    height: 440px;
    border-radius: 20px;
    border: 0 0 1px 0;
    background-color:#F0F6F9;
    margin-top: 20px;
    margin-right: 20px;
}
.Media1,.Media2,.Media3{
    width: 430px;
}
.MediaCard h2 {
    width: 367px;
    height: 58px;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #003B71;
    padding-top: 35px;
    /* padding-bottom: 10px; */
    margin-bottom: 55px;
    text-align: center;
}
#Media{
    margin-top: 40px;
    display: flex;
    align-items: center;
    max-width: 1392px;
    justify-content: center;
    flex-wrap: wrap;
}

.MediaCard p {
    width: 380px;
    height: 42px;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #003B71;
    text-align: left;
    
}

.Medtext{
    font-size: 16px;
    color: #5B748D;
}

.Mediatext{
    position: relative;
    width: 368px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 45px;
}





.span{
    /* display: block; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #5B748D;
    text-decoration: none;
    font-size: 16px;

}



.mediabtn{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 134px;
    height: 40px;
    background-color: #009ADE;
    border: none;
    color: #ffffff;
    border-radius: 70px;
}

.mbtn{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 212px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #009ADE;
    /* color: #ffffff; */
    border-radius: 60px; 
    margin-left: 20px;
    margin-top: 20px;
    line-height: 24px;
}

.mbtn:hover{
   
    background-color: #009ADE;
    color: #ffffff;
    transition: all 0.7s ease-in-out
    
}




/* Butonun varsayılan hali */
.circle-button {
    position: absolute;
    left: 240px;
    top: 2px;
    width: 40px;
    height: 40px;
    background-color: #009ADE; /* Soluk yeşil */
    /* color: #5B748D !important; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 20%;
    text-decoration: none;
    border-radius: 50%; /* Daire şekli */
    transition: all 0.4s ease; /* Tüm değişiklikler için geçiş süresi */

}
.ArrowIcon{
    position: absolute;
    top: 12px;
    left: 9px;
    color: #a0a0a0;
}

.text{
    position: absolute;
    top: 7px;
    left: 19px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;

}
.arrow{
  position:absolute;
  left:75px;
  font-size:14px;
  /* color:black; */
}
/* Metin ve ok simgesinin varsayılan görünümü */
/* .circle-button .text {
    opacity: 1;
    transition: opacity 0.4s ease;
    margin-left:20px;
    z-index:3;
} */



/* Hover durumunda butonun genişlemesi ve metnin görünmesi */
.circle-button:hover {
    width: 134px;
    left: 240px;
    border-radius: 50px; /* Tam buton şekline geçiş */
    background-color: #009ADE; /* Yeşil */
    justify-content: space-between; /* Metin ve ok simgesini ayırır */
    opacity: 100%;
    color: #ffffff;
}

.circle-button:hover.text {
    /* left: 29px; */
    color: #ffffff;
}

.circle-button:hover  .arrow {
    left: 75px;
    color: #ffffff;
}
.circle-button:hover .ArrowIcon{
    content: url(../../assets/arrow-right.svg);
    margin-top: -4px !important;
}













