@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
  
}


:root{
    --titlecolor:#002D74

}
.Body-Title{
    width: 782px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mis-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: var(--titlecolor);
    text-align: center;
    margin-top: 70px;
}

.mis-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: var(--titlecolor);
    text-align: center;
  
}


.MissionCard{
    width: 436px;
    height: 268px;
    border-radius: 20px;
    border: 0 0 1px 0;
    background-color:#F0F6F9;
    margin-top: 20px;
}



.MissionCard h2 {
    width: 367px;
    height: 58px;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #003B71;
    padding-top: 35px;
    /* padding-bottom: 10px; */
    margin-bottom: 70px;
}


.MissionCard p {
    width: 367px;
    height: 42px;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #003B71;
    text-align: left;
    
}



