@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}
#TestsBG{
    position: relative;
    margin-top: 127px;
    width: 100%;
    height: 530px;
    background-color: #F0F6F9;
    text-align: center;
    padding: 50px 0;
}
#Testimonials{
    max-width: 1392px;
    margin: auto;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Kartlar arasındaki mesafe */

}



.TestimonialsTitle{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #002D74;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 0;
}
.TestimonialsText{
    max-width: 638px;
    /* height: 34px; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    color: #002D74;
    text-align: center;
    padding-top: 24px;
    margin-bottom: 30px;
    margin: auto;
  
      
}

.TestimonialsCard{
    position: relative;
    width: 369px;
    height: 199px;
    border-radius: 20px;
    border: 0 0 1px 0;
    background-color: #FFFFFF;
    border-bottom: 2px solid #009ADE;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.TestimonialsCardText{
    margin: auto;
    width: 289px;
    padding-top: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    color: #002D74;
    /* color: #555; */
 
}
.BottomCircle{
    width: 24px;
    height: 24px;
    background-color: #009ADE;
    border-radius: 50%;
    position: absolute;
    top: 183px;
    left: 173px;
    /* bottom: -10px; */
    /* right: 10px; */
  
}

.Comma{
    position: absolute;
    top: 16px;
    left: 20px;
  
}
.CardTitle{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
    color: #002D74;
    text-align: center;
    padding-top: 20px;
}
.CardText{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    color: #009ADE;
    text-align: center;
}
  
.RedCircle{
    position: absolute;
    top: -48px;
    left: 50px;
    /* bottom: 0; */
    /* left: 0; */
    /* z-index: -1; */
}
.WhiteComma{
    position: absolute;
    top: -16px;
    left: 78px;
    /* bottom: 50px; */
    /* right: 50px; */
    /* z-index: -1; */
}
.ArrowCircleRight{
    position: absolute;
    top: 120px;
    right: 0px;
 
}
.ArrowCircleLeft{
    position: absolute;
    top: 120px;
    left: 0px;
 
}






  
 
  .carousel-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .card-container {
    width: 369px;
    /* Gerekirse kart boyutlarını burada değiştirebilirsiniz */
  }
  