@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.TraningTop{
    max-width: 1392px;
    margin: auto;
    margin-top: 85px;

}
#TraningTop{

    display: flex;
    align-items: center;
}
.Traning-text{
    margin-right: 90px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 43.88px;
    color: #003B71;
}
.Traning-text2{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
    color: #002D74;
}
.traning-hr{
    width: 80%;
    opacity: 1;
    color: #B4C1D9;
 
}

.tr-circle{
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #B4C1D9;
}
    

@media  (min-width: 200px) and (max-width: 768px){
    .Traning-text {
        max-width: 212px;
        margin-right: 35px;
        margin-left: 20px;
    }
    .traning-hr{
        width: 30%;
        border: 1px solid #B4C1D9;
    }
    .Traning-text2 {
        margin-left: 20px;
    }
  

    
}
   
