.Traning-text{
    width: 212px;
    margin-left: 50px;
    font-weight: 500;
    font-size: 36px;
    line-height: 43.88px;
    color: #003B71;
}
.Traning-text2{
    width: 800px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
    color: #002D74;
}
.traning-hr{
    width: 1103px;
    border: 1px solid #B4C1D9;
    position: absolute;
    top: 1866px;
    left: 246px;
}

.tr-circle{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1860px;
    right: 44px;
    border-radius: 50px;
}

