@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}


.NewsCard{
    width: 448px;
    height: 505px;
    border-radius: 20px;
    border: 0 0 1px 0;
    background-color:#F0F6F9;
    margin-top: 20px;
}
.NewsCard .Newsphoto{
    object-fit: cover;
    width: 416px;
    height: 240px;
    border-radius: 22px

}


.NewsCard h2 {
    width: 367px;
    height: 58px;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #003B71;
    padding-top: 35px;
    /* padding-bottom: 10px; */
    margin-bottom: 55px;
}


.NewsCard p {
    width: 380px;
    height: 42px;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #003B71;
    text-align: left;
    
}

.Newtext{
    font-size: 16px;
    color: #5B748D;
}

.Newstext{
    width: 368px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 45px;
}





.Newstext a{
    /* display: block; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #5B748D;
    text-decoration: none;
    font-size: 16px;

}





.NewsContinue{
    position: absolute;
    left: 320px;
    top: 467px;
    width: 40px;
    height: 40px;
    background-color: #009ADE; /* Soluk yeşil */
    /* color: #5B748D !important; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 20%;
    text-decoration: none;
    border-radius: 50%; /* Daire şekli */
    transition: all 0.4s ease; /* Tüm değişiklikler için geçiş süresi */
}
.Newstext2{
    position: absolute;
    top: 7px;
    padding: 0 5px 0 5px;
    left: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.NewsContinue:hover{
    width: 120px;
    left: 320px;
    border-radius: 50px; /* Tam buton şekline geçiş */
    background-color: #002D74; /* Yeşil */
    justify-content: space-between; /* Metin ve ok simgesini ayırır */
    opacity: 100%;
    color: #ffffff;
}

.NewsContinue:hover.Newstext2 {
    /* left: 29px; */
    color: #ffffff;
}

.NewsContinue:hover #Newsicon{
    content: url(../../assets/arrow-right.svg);
    margin-top: 7.5px !important;
}


