@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    
}

#News{
    max-width: 1392px;
    margin: auto;

}

.News{
    display: flex;
    align-items: center;
    margin-top: 85px;
}
.News-text{
    margin-right: 90px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 43.88px;
    color: #003B71;
}
.News-text2{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
    color: #002D74;
}
.News-hr{
    width: 1107px;
    opacity: 1;
    color: #B4C1D9;

}

.News-circle{
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #B4C1D9;
}

@media  (min-width: 200px) and (max-width: 768px){
    .News-text{
        margin-left: 20px;
        margin-right: 45px;
    }
    .News-hr{
        width: 120px;
    }
    .News-text2{
        margin-left: 20px;
    }
}
