
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}


.header{
  padding: 20px;
  width: 100%;
}
dropdown-item:hover{
  background-color: red;
}
.header-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1392px;
  border-radius: 0 0 15px 15px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: auto;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 602px;
}
#navbar ul{
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 3px 0 0 0;
  
  margin: 0;
}

#navbar li{
  list-style: none;
  padding: 4px;

}

#navbar a{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  padding: 0;
}

.btn{
 
  border-radius: 60px;
  Padding:14px, 36px, 14px, 36px;
  Padding: 14px 36px 14px 36px;
}
.btn-1 {
  color: #002D74;
  margin-right: 24px;
}
.btn-1:hover{
  background-color: #FFFFFF !important;
  color: #002D74;
}
.btn-2{
  background-color: #002D74;
  color: #FFFFFF;
}

.me-2{
  position: absolute;
    right: 79px;
    top: -1px;
}
.btn-2:hover{
  background-color: #002D74;
  color: #FFFFFF;
}
.nav{
  color: #FFFFFF;
  font-size: 14px;
  

}


.nav-link:hover{
  color: #FFFFFF;

}

.nav-link::after{
  content: '';
    display: block;
    width: 100%;
    background: #002D74;
    bottom: -1px;
    opacity: 0;
    margin-top: 3px;
    transition: all 0.4s;

}
.nav-link:hover::after{
  opacity: 1;
  
}

.dropdown-content {
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;

}

.dropdown-content a {
  color: black;
  padding: 12px 0 16px 10px !important;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {
  background-color: #d5dff2;
  color: #002D74;
  transition: all 0.3s ease-in-out;
  animation-duration: 0.6s;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all 0.7s ease-in-out;
  animation-duration: 1s;
  padding: 0;
}
@media (min-width: 992px) and (max-width: 1200px){
  .header-nav{
    display: none;
}
}
@media  (min-width: 200px) and (max-width: 768px){
  .header-nav{
    display: none;
}
}

@media (min-width: 769px) and (max-width: 992px) {

  .header-nav{
      display: none;
  }
}

