@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}


.Newspage{

    max-width: 448px;
    height: 56px;
    margin: auto;
    border: 1px solid #E9ECF4;
    border-radius: 80px;
    margin-top: 30px;
}
.newspage-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #002D74;
    text-align: center;
    margin-top: 50px;
}

.newspage-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #009ADE;
    text-align: center;
}
/* .newspagelist{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 1rem;
    padding-right: 15px;
}
.newspagelist li{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #009ADE;
    list-style: none;
    padding-left: 20px;
    padding-right: 30px;
} */

.newspagelist {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 20px 0;
}

.newspagelist li {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.newspagelist li:hover {
    background-color: #f0f0f0; /* Hover sırasında arka plan rengi */
}

.newspagelist .active {
    color: red; /* Aktif sayfa numarası kırmızı */
    font-weight: bold;
    cursor: default; /* Tıklanamaz */
}

.newspagelist .dots {
    pointer-events: none; /* ... işaretleri tıklanamaz */
    cursor: default;
}

#active{
    color: #E1251B;
}
@media  (min-width: 200px) and (max-width: 768px){
    .newspage-title{
        font-size: 24px;
    }
    .newspage-text{
        font-size: 20px;
      
    }
}