@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
   
}
.register{
    margin: auto;
    max-width: 1156px;
    height: 393px;
    border-radius: 30px;
    background-color: #F0F6F9;
    margin-top: 80px;
    background-image: url(../../assets/registerban.svg);
    background-repeat: no-repeat;
    background-size: cover;

}

#register{
    display: flex;
}
#registername{
    width: 448px;
    height: 58px;
    border: none;
    border-radius: 70px;
    padding-left: 32px;

}
/* 
#name:focus::placeholder{
 color: #FFFFFF;
 outline: none;
 border-color: #007bff;
} */
#registername:focus{
    outline: none;
    border-color: #007bff;
}

#registertext:focus{
    outline: none;
    border-color: #007bff;
}
#message:focus{
    outline: none;
    border-color: #007bff;
}
#registertext{
    width: 448px;
    height: 58px;
    border: none;
    border-radius: 70px;
    padding-left: 32px;
    
}
.registerForm{
    /* position: absolute;
    width: 448px;
    left: 764px; */
    margin-top: 50px;
    margin-left: 90px;
   
}

#message{
    width: 448px;
    height: 58px;
    border: none;
    border-radius: 70px;
    padding-left: 32px;
    

}

#registername::placeholder{
    color: #5B748D;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    border-color: #007bff;
}
#registertext::placeholder{
    color: #5B748D;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    border-color: #007bff;
}
#message::placeholder{
    color: #5B748D;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    border-color: #007bff;
}
.inputtext{
margin-bottom: 10px;
}
select::placeholder{
    padding-right: 30px;
}
.RegisterBtn{

    border-radius: 60px;
    Padding: 15px 35px 15px 41px;
    gap: 12px;
    background-color: #002D74;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: none;
    margin-left: 833px;
    margin-top: 39px;
}

.registerText{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-top: 24px;
    color: #002D74;
    max-width: 354px;
    
}
.registerTitle{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #003B71;
    max-width: 354px;
   
}


/* lllll */

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 200px; /* Select'in genişliği */
  }
  
  .custom-select {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Sağda simge için yer bırakıldı */
    appearance: none; /* Varsayılan oku gizler */
    color: #5B748D;
    border: 1px solid #ccc;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-image: url('../../assets/registerdown.svg');
    background-repeat: no-repeat;
    background-position: right 32px center; /* Simgenin sağa hizalanması */
    background-size: 24px 24px; /* Simgenin boyutu */
  }
  
  .custom-select:focus {
    outline: none;
    /* border-color: #007bff; */
  }
  
  .custom-select::-ms-expand {
    display: none; /* Eski tarayıcılarda ok simgesini gizler */
  }
  