@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
   
}
.register{
    margin: auto;
    max-width: 1156px;
    height: 370px;
    border-radius: 30px;
    background-color: #F0F6F9;
    margin-top: 80px;
    background-image: url(../../assets/registerban.svg);
    background-size: cover;

}

#register{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
#registername{
    width: 100%;
    height: 58px;
    border: none;
    border-radius: 70px;
    padding-left: 32px;

}
.registerForm{
    display: flex;
    flex-direction: column;
}
#registername:focus{
    outline: none;
    border-color: #007bff;
}

#registertext:focus{
    outline: none;
    border-color: #007bff;
}
#message:focus{
    outline: none;
    border-color: #007bff;
}
#registertext{
    width: 100%;
    height: 58px;
    border: none;
    border-radius: 70px;
    padding-left: 32px;
    
}
.registerForm{
    /* position: absolute;
    width: 448px;
    left: 764px; */
    /* margin-top: 50px; */
    margin-left: 90px;
    /* max-width: 448px; */
   
}

#message{
    width: 100%;
    height: 58px;
    border: none;
    border-radius: 70px;
    padding-left: 32px;
    

}

#registername::placeholder{
    color: #5B748D;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    border-color: #007bff;
}
#registertext::placeholder{
    color: #5B748D;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    border-color: #007bff;
}
#message::placeholder{
    color: #5B748D;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    border-color: #007bff;
}
.inputtext{
margin-bottom: 16px;
}
select::placeholder{
    padding-right: 30px;
}
.RegisterBtn{
    width: 212px;
    border-radius: 60px;
    Padding: 15px 35px 15px 41px;
    gap: 12px;
    background-color: #002D74;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: none;
    margin-left: 235px;
    margin-top: 14px;
    margin-bottom: 40px;
    
}
.RegisterBtn img{
    display: inline-block;
}

.registerText{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-top: 24px;
    color: #002D74;
    max-width: 354px;
    
}
.registerTitle{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #003B71;
    max-width: 354px;
   
}


/* lllll */

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 200px; /* Select'in genişliği */
  }
  
  .custom-select {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Sağda simge için yer bırakıldı */
    appearance: none; /* Varsayılan oku gizler */
    color: #5B748D;
    border: 1px solid #ccc;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-image: url('../../assets/registerdown.svg');
    background-repeat: no-repeat;
    background-position: right 32px center; /* Simgenin sağa hizalanması */
    background-size: 24px 24px; /* Simgenin boyutu */
  }
  
  .custom-select:focus {
    outline: none;
    /* border-color: #007bff; */
  }
  
  .custom-select::-ms-expand {
    display: none; /* Eski tarayıcılarda ok simgesini gizler */
  }
  
  @media  (min-width: 200px) and (max-width: 768px){
    .register {
        flex-direction: column; 
        align-items: center;   
        text-align: center; 
        margin: 0 20px; 
        height: 633px;        
    }
    #register {
        width: 100%;  
        margin: 0;             
        padding: 20px;      
        flex-direction: column;  
    }
    .inputtext{
        max-width: 448px !important;
    }
    .registerdiv{
        margin: auto;
    }

    .registerTitle {
        font-size: 24px;      
    }
    .registerText {
        font-size: 14px;   
        margin-bottom: 20px;
        text-align: justify;    
    }
    .registerForm {
        margin-left: 0px;           
    }
    .Register-form-group {
        margin-bottom: 0px;  
        width: 100%;   
        margin-top: 0;         
    }
    .inputtext {
        width: 100%;            
        font-size: 16px;       
    }
    .custom-select-wrapper {
        width: 100%;            
        margin-bottom: 20px;    
  
    }
    .custom-select {
        width: 100%;            
       font-size: 16px;      
    
    }


    .RegisterBtn{
        width: 175px;
        margin-left: 130px;
        margin-top: 0px;
    }
  
    
  }

  @media  (min-width: 768px) and (max-width: 4400px){
    #message{
        width: 448px;
    }
  
    
  }